.Profile{
	height: 100vh;
	background-color: var(--secondary);
}

/* for creating new characters */
.character-creation{
	margin: 20px;
	padding: 40px;
	align-items: center;
}

.character-creation .character-creation-button{
	margin: 20px;
	padding: 20px 10px;
	text-align: center;
	font-weight: bold;
	background-color: var(--secondary-accent);
	border-style: none;
}

/* for different characters */
.character-profile{
	display: flex;
	margin: 5px;
	padding: 25px;
	position: absolute;
}

.character-profile .character-art{
	margin: 5px;
}

.character-profile .character-name{
	margin: 10px;
	border-right-color: black;
}

.character-profile .character-info{
	margin: 10px;
}

.character-profile .character-options{
	position: relative;
	right: 0px;
}
